body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: large;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 10px;
}

input {
  font-size: large;
  min-width: 200px;
  padding: 2px;
}

button {
  font-size: medium;
  padding: 5px;
}
